input {
    text-align: right;
}

body {
    background-image: url(https://johnlewis.scene7.com/is/image/JohnLewis/234470519?$rsp-pdp-port-320$);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 10%;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

p {
    font-weight: bold;
}

button {
    background-color: #4caf50;
    border-radius: 5px;
    margin-left: 20px;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
    text-align: center;
}

#num {
    display: inline-block;
    margin: 50%;
    padding: 45%;
}

#info {
    display: inline-block;
    margin: 50%;
    padding: 45%;
}



